## smart platform testing

## lib

In [31]:
import os
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

### data preprocessing

In [32]:
def get_csv_files(folder_path):
    csv_files=[]
    for files in os.listdir(folder_path):
        if files.endswith('.csv'):
            csv_files.append(os.path.join(folder_path,files))
    return csv_files

csv_files= get_csv_files('../amazon-products-dataset/versions/2')

In [33]:
# store the data in dat frame
dataframes= []
for path in csv_files:
    df = pd.read_csv(path)
    dataframes.append(df)
    
combined_df= pd.concat(dataframes,ignore_index=True)

### basic info

In [34]:
combined_df.head()

                                                name  ... Unnamed: 0
0                 Puma Women's Glam WNS Sport Sandal  ...        NaN
1  Luxyfeel Fashion Sandal for Girls and Women | ...  ...        NaN
2  STRASSE PARIS Amazing Design Women's & Girls T...  ...        NaN
3  Mochi Women White Wedge Heel Slip-on UK/5 EU/3...  ...        NaN
4              Catwalk Women's Fashion UK EU US 3882  ...        NaN

[5 rows x 10 columns]

In [35]:
combined_df = combined_df.drop(combined_df.columns[-1], axis=1)
combined_df.drop(['name','image','link'],axis=1,inplace=True)

In [36]:
combined_df.shape

(1103170, 6)

In [37]:
combined_df=combined_df.dropna()

In [38]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 681360 entries, 0 to 1103169
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   main_category   681360 non-null  object
 1   sub_category    681360 non-null  object
 2   ratings         681360 non-null  object
 3   no_of_ratings   681360 non-null  object
 4   discount_price  681360 non-null  object
 5   actual_price    681360 non-null  object
dtypes: object(6)
memory usage: 36.4+ MB

In [39]:
combined_df.columns = (combined_df.columns.str.strip().str.lower().str.replace(" ","_"))

In [40]:
combined_df= combined_df[
    pd.to_numeric(combined_df['ratings'],errors= 'coerce').between(0,5)
]
combined_df['ratings'] = combined_df['ratings'].astype(float)

In [41]:
combined_df['no_of_ratings']= (
    combined_df['no_of_ratings'].astype(str)
    .str.replace(',','')
    .where(lambda x:x.str.fullmatch(r'\d+'))
    .astype(float)
)

In [42]:
price_pattern = r'^₹\d{1,3}(,\d{3})*$'
cols = ['discount_price','actual_price']

masked = (
    combined_df[cols]
    .astype(str)
    .apply(lambda x:x.str.match(price_pattern))
    .all(axis=1)
)

combined_df = combined_df[masked]

combined_df[cols] = (
    combined_df[cols]
    .replace({'₹':'',',':''},regex=True)
    .astype(float)
)

In [43]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 650204 entries, 0 to 1102940
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   main_category   650204 non-null  object
 1   sub_category    650204 non-null  object
 2   ratings         650204 non-null  float64
 3   no_of_ratings   650108 non-null  float64
 4   discount_price  650204 non-null  float64
 5   actual_price    650204 non-null  float64
dtypes: float64(4), object(2)
memory usage: 34.7+ MB

In [44]:
combined_df['main_category'].unique()

array(["women's shoes", 'car & motorbike', 'appliances',
       'grocery & gourmet foods', "kids' fashion", 'bags & luggage',
       'toys & baby products', "women's clothing", 'tv, audio & cameras',
       "men's shoes", 'sports & fitness', 'beauty & health',
       'accessories', "men's clothing", 'home & kitchen', 'music',
       'pet supplies', 'stores', 'industrial supplies',
       'home, kitchen, pets'], dtype=object)

In [45]:
combined_df['sub_category'].unique()

array(['Fashion Sandals', 'All Car & Motorbike Products',
       'Washing Machines', 'Refrigerators', 'All Grocery & Gourmet Foods',
       "Kids' Watches", 'Suitcases & Trolley Bags',
       'International Toy Store', 'Clothing', 'Camera Accessories',
       'Formal Shoes', 'Travel Accessories', 'Yoga', 'Value Bazaar',
       'Make-up', 'Personal Care Appliances', 'Coffee, Tea & Beverages',
       'Running', 'Diet & Nutrition', 'Car Electronics',
       'Gold & Diamond Jewellery', 'Beauty & Grooming',
       'Baby Bath, Skin & Grooming', 'Innerwear',
       'Health & Personal Care', 'Ballerinas', "Kids' Shoes",
       'Home Storage', 'Home Audio & Theater', 'Watches',
       'Home Entertainment Systems', 'Security Cameras', 'Travel Duffles',
       'Musical Instruments & Professional Audio', 'Kitchen & Dining',
       'Sewing & Craft Supplies', 'Strollers & Prams', 'Rucksacks',
       'All Pet Supplies', 'Toys & Games', 'Air Conditioners',
       'All Appliances', 'All Electronics', 'All Exercise & Fitness',
       'All Home & Kitchen', 'All Sports, Fitness & Outdoors',
       'Amazon Fashion', 'Baby Fashion', 'Baby Products', 'Backpacks',
       'Badminton', 'Bags & Luggage', 'Bedroom Linen', 'Cameras',
       'Camping & Hiking', 'Car & Bike Care', 'Car Accessories',
       'Car Parts', 'Cardio Equipment', 'Casual Shoes', 'Cricket',
       'Cycling', 'Diapers', 'Dog supplies', 'Ethnic Wear',
       'Fashion & Silver Jewellery', 'Fashion Sales & Deals',
       'Fitness Accessories', 'Football', 'Furniture',
       'Garden & Outdoors', 'Handbags & Clutches', 'Headphones',
       'Heating & Cooling Appliances', 'Home Décor', 'Home Furnishing',
       'Home Improvement', 'Household Supplies', 'Indoor Lighting',
       'Industrial & Scientific Supplies',
       'Janitorial & Sanitation Supplies', 'Jeans', 'Jewellery',
       "Kids' Clothing", "Kids' Fashion", 'Kitchen & Home Appliances',
       'Kitchen Storage & Containers', 'Lab & Scientific',
       'Lingerie & Nightwear', 'Luxury Beauty', "Men's Fashion",
       'Motorbike Accessories & Parts', 'Nursing & Feeding',
       'Refurbished & Open Box', 'School Bags', 'Shirts', 'Shoes',
       'Snack Foods', 'Speakers', 'Sports Shoes', 'Sportswear',
       'STEM Toys Store', 'Strength Training', 'Sunglasses',
       'T-shirts & Polos', 'Televisions', 'Test, Measure & Inspect',
       'The Designer Boutique', 'Toys Gifting Store', 'Wallets',
       'Western Wear', "Women's Fashion"], dtype=object)

In [ ]:
encoder = OneHotEncoder(
    sparse_output= False,
    handle_unknown = 'ignore'
)

encoded_array = encoder.fit_transform(combined_df[['main_category']])

encoded_df =  pd.DataFrame(
    encoded_array,
    columns = encoder.get_feature_names_out(['main_category']),
    index= combined_df.index
)
combined_df = combined_df.join(encoded_df)

            main_category  ... main_category_women's shoes
0           women's shoes  ...                         1.0
1           women's shoes  ...                         1.0
2           women's shoes  ...                         1.0
3           women's shoes  ...                         1.0
4           women's shoes  ...                         1.0
...                   ...  ...                         ...
1102846  sports & fitness  ...                         0.0
1102850  sports & fitness  ...                         0.0
1102877  sports & fitness  ...                         0.0
1102880  sports & fitness  ...                         0.0
1102940  sports & fitness  ...                         0.0

[650204 rows x 26 columns]

In [47]:
combined_df.reset_index(inplace=True,drop= True)

In [48]:
from sklearn.model_selection import KFold
import numpy as np
combined_df['sub_category_te'] = np.nan
mean_rating = combined_df['ratings'].mean()

kf = KFold(n_splits = 5, shuffle= True, random_state =42)

for train_idx, val_idx in kf.split(combined_df):
    train_fold = combined_df.iloc[train_idx]
    val_fold = combined_df.iloc[val_idx]

    fold_mean = (
        train_fold.groupby('sub_category')['ratings'].mean()
    )

    combined_df.loc[val_idx,'sub_category_te'] = (
        combined_df.loc[val_idx,'sub_category']
        .map(fold_mean)
        .fillna(mean_rating)
    )

In [50]:
combined_df.drop(['main_category','sub_category'],axis=1,inplace=True)

In [51]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650204 entries, 0 to 650203
Data columns (total 25 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   ratings                                650204 non-null  float64
 1   no_of_ratings                          650108 non-null  float64
 2   discount_price                         650204 non-null  float64
 3   actual_price                           650204 non-null  float64
 4   main_category_accessories              650204 non-null  float64
 5   main_category_appliances               650204 non-null  float64
 6   main_category_bags & luggage           650204 non-null  float64
 7   main_category_beauty & health          650204 non-null  float64
 8   main_category_car & motorbike          650204 non-null  float64
 9   main_category_grocery & gourmet foods  650204 non-null  float64
 10  main_category_home & kitchen           650204 non-null  float64
 11  main_category_home, kitchen, pets      650204 non-null  float64
 12  main_category_industrial supplies      650204 non-null  float64
 13  main_category_kids' fashion            650204 non-null  float64
 14  main_category_men's clothing           650204 non-null  float64
 15  main_category_men's shoes              650204 non-null  float64
 16  main_category_music                    650204 non-null  float64
 17  main_category_pet supplies             650204 non-null  float64
 18  main_category_sports & fitness         650204 non-null  float64
 19  main_category_stores                   650204 non-null  float64
 20  main_category_toys & baby products     650204 non-null  float64
 21  main_category_tv, audio & cameras      650204 non-null  float64
 22  main_category_women's clothing         650204 non-null  float64
 23  main_category_women's shoes            650204 non-null  float64
 24  sub_category_te                        650204 non-null  float64
dtypes: float64(25)
memory usage: 124.0 MB

In [52]:
combined_df.head()

   ratings  no_of_ratings  ...  main_category_women's shoes  sub_category_te
0      4.5            2.0  ...                          1.0         3.548458
1      3.8           44.0  ...                          1.0         3.565466
2      4.5            2.0  ...                          1.0         3.577666
3      5.0            1.0  ...                          1.0         3.587744
4      3.7          114.0  ...                          1.0         3.565466

[5 rows x 25 columns]